In [4]:
import os
import wget

data_file = 'NYPD_Complaint_Data_Current__Year_To_Date_.csv'
data_dir = 'data'
cur_dir = os.getcwd()

if os.path.exists(os.path.join(cur_dir, data_dir, data_file)):
    print('Found data file.')
else:
    print('Downloading data file...')
    url = r'https://drive.google.com/drive/folders/1N27QPvtMykZoPKkwoMdy_1S7CZnbhOXw?usp=sharing'
    d_file = wget.download(url)
    print('Downloaded ', d_file)
    os.rename(d_file, os.path.join(cur_dir, data_dir, data_file))

Found data file.

In [5]:
import pandas as pd
data = pd.read_csv(os.path.join(cur_dir, data_dir, data_file))
data.head()

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
0,247853895,43.0,BRONX,07/11/2022,09:09:00,NaN,(null),COMPLETED,(null),NaN,...,NaN,UNKNOWN,UNKNOWN,D,1022682.0,242998.0,40.833567,-73.861118,"(40.833567, -73.861118)",POINT (-73.861118 40.833567)
1,250722124,67.0,BROOKLYN,01/01/2021,12:00:00,09/07/2022,12:00:00,COMPLETED,(null),NaN,...,NaN,<18,BLACK,F,997843.0,175671.0,40.648851,-73.951017,"(40.6488507469884, -73.951016510623)",POINT (-73.951016510623 40.6488507469884)
2,239511545,120.0,STATEN ISLAND,12/24/2021,08:00:00,01/03/2022,08:00:00,COMPLETED,(null),NaN,...,NaN,18-24,ASIAN / PACIFIC ISLANDER,M,960911.0,165085.0,40.619768,-74.084070,"(40.619768, -74.08407)",POINT (-74.08407 40.619768)
3,247992275,115.0,QUEENS,06/15/2015,00:01:00,07/13/2022,17:00:00,COMPLETED,(null),NaN,...,NaN,45-64,WHITE,M,1013677.0,212463.0,40.749791,-73.893792,"(40.749791, -73.893792)",POINT (-73.893792 40.749791)
4,239602232,75.0,BROOKLYN,01/01/2018,09:00:00,04/14/2021,23:59:00,COMPLETED,(null),NaN,...,NaN,65+,BLACK,M,1022153.0,184000.0,40.671636,-73.863359,"(40.671636, -73.863359)",POINT (-73.863359 40.671636)